<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/BaseLayout}">
<head>
<title th:text="#{menu.changePassword}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div class="container mt-5">
			<div th:replace="fragment/Messages :: messages"></div>
			<form th:action="@{/changePassword}" method="POST"
				th:object="${form}">
				<div class="form-group form-row">
					<input type="password" class="form-control"
						th:placeholder="#{input.oldPassword}" th:field="*{oldPassword}">
				</div>
				<div class="form-group form-row">
					<input type="password" class="form-control"
						th:placeholder="#{input.newPassword}" th:field="*{newPassword}">
				</div>
				<div class="form-group form-row">
					<input type="password" class="form-control"
						th:placeholder="#{input.repeatPassword}"
						th:field="*{repeatNewPassword}">
				</div>
				<div class="form-group form-row">
					<button type="submit" class="btn btn-primary"
						th:text="#{menu.changePassword}"></button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>