<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/BaseLayout}">
<head>
<title th:text="#{menu.vacations}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div th:replace="fragment/Messages :: messages"></div>
		<form th:action="@{/vacation}" method="POST" th:object="${form}">
			<div class="container mt-5">
				<div class="form-group form-row">
					<input type="text" class="form-control datepicker col"
						th:placeholder="#{input.fromDate}" th:field="*{fromDate}">
					<input type="text" class="form-control datepicker col offset-md-1"
						th:placeholder="#{input.toDate}" th:field="*{toDate}">

					<button type="submit" class="btn btn-primary col offset-md-1"
						th:text="#{input.addVacation}"></button>
				</div>
			</div>
		</form>

		<h2 class="row justify-content-md-center"
			th:text="#{vacations.header}"></h2>

		<div class="container shadow-lg p-3 mb-5 bg-white"
			th:each="vacation : ${vacations}">
			<div class="row">
				<div class="col col-lg-2">
					<a th:href="${vacation.user.username}">
						<img
							th:src="${vacation.user.profileImage == null ? '/images/profile-placeholder.png' : 'data:image/png;base64,' + vacation.user.profileImage}"
							class="img-fluid rounded-circle mx-auto d-block"
							style="max-height: 150px;">
					</a>
				</div>
				<div class="col">
					<div class="row justify-content-md-center">
						<a th:href="${vacation.user.username}">
							<strong class="text-center"
								th:text="${vacation.user.firstName + ' ' + vacation.user.lastName}"></strong>
						</a>
					</div>
					<div class="row justify-content-md-center">
						<strong class="text-center"
							th:text="${vacation.user.department.name}"></strong>
					</div>
					<div class="row justify-content-md-center">
						<div class="col col-lg-2">
							<span th:text="#{input.fromDate}"></span>
						</div>
						<div class="col col-lg-2">
							<strong class="text-center"
								th:text="${#dates.format(vacation.fromDate, 'dd MMMM yyyy')}"></strong>
						</div>
					</div>
					<div class="row justify-content-md-center">
						<div class="col col-lg-2">
							<span th:text="#{input.toDate}"></span>
						</div>
						<div class="col col-lg-2">
							<strong class="text-center"
								th:text="${#dates.format(vacation.toDate, 'dd MMMM yyyy')}"></strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section layout:fragment="js">
		<script>
			$(document).ready(function() {
				$('.datepicker').datepicker({format: 'dd/mm/yyyy'});
			});
		</script>
	</section>
</body>
</html>